{ 
	  "token"  : "Aquí va el toquen de seguridad de la aplicación Discord",
	  "prefix" : "+",
	  "channelid" : "La ID del canal de Discord",
	  "posteveryXmins" : "5",
	  "yourLBRYchannelClaimId" : "ID del canal en LBRY",
	  "yourLBRYchannelURL" : "@michaelmitnick#2"
}
